<html>

<header>
<div class="imgcontainer">
<img src="/images/dice.png" alt="dice" class="logo-left">
</div>
<h1>Login to your Dungeon Master D&D Account!</h1>
</header>
</br>
<form action="/dms/login" method="post">
  
    <label for="username"><b>Username:</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>
    <br>
    <label for="password"><b>Password:</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
    <br><br>
    <input type="submit" value = "Login">
    <br>
</form>
<br>
<h5>Not a registered Dungeon Master yet?</h5>
<h6><a href="/dms/signup">Click here to sign up!</a></h6>

<footer class="branding">
    <% if dm_logged_in? %>
    <small>Welcome <%= current_dm.username %> <a href="/logout">Log Out</a></small>
    <% else %>
      <small><a href="/">Log In</a></small>
    <% end %>
    <div class="div-b">
    <small>&copy; 2020 <strong>Sophia White</strong></small>
    </div>
  </footer>

</html>
