<html>
<header>
<div class="imgcontainer">
<img src="/images/dice.png" alt="dice" class="logo-left">
</div>
<h1>Create your Dungeon Master D&D Account!</h1>
</header>
</br>

<h4>Enter the following to create your Dungeon Master account!</h4></br>
<form action="/dms" method="POST">
<label for: "name">Name:</label>
<p><input type="text" placeholder="Enter Name" name="name" id="name"></p>

<label for: "username">Username:</label>
<p><input type="text" placeholder="Enter Username" name="username" id="username"></p>

<label for: "password">Password:</label>
<p><input type="password" placeholder="Enter Password" name="password" id="password"></p>

<input type="submit" value = "Signup!">
</form>

<footer class="branding">
    <% if dm_logged_in? %>
    <small>Welcome    <%= current_dm.username %>      <a href="/logout">Log Out</a></small>
    <% else %>
      <small><a href="/">Log In</a></small>
    <% end %>
    <div class="div-b">
    <small>&copy; 2020 <strong>Sophia White</strong></small>
    </div>
</footer>

</html>

