<!DOCTYPE html>
<html lang="en">

<h1> Dungeons & Dragons Database </h1></br>
<h4>Enter the following to create your Dungeon Master account!</h4>
<form>
<label for: "name">Name:</label>
<p><input type="text" name="name" id="name"></p>

<label for: "username">Username:</label>
<p><input type="text" name="name" id="name"></p>

<label for: "password">Password:</label>
<p><input type="text" name="name" id="name"></p>
</form>

</html>