<!DOCTYPE html>
<h1>Your Collection of Stories:</h1>

<p>
<% @stories.each do |story| %>
    <li>
    <a href="/stories/<%= story.id %>"><%= story.title %></a>
    </li>
    <br>
<%end%>
</p>

<h5><a href="/stories/new">Create a new story!</a></h5>
<br><br>
<p> Don't smile too much... they will know you are up to something! </p>

<footer class="branding">
    <% if dm_logged_in? %>
    <small>Welcome <%= current_dm.username %> <a href="/logout">Log Out</a></small>
    <% else %>
      <small><a href="/">Log In</a></small>
    <% end %>
    <div class="div-b">
    <small>&copy; 2020 <strong>Sophia White</strong></small>
    </div>
</footer>

</html>