<!DOCTYPE html>
<h1>Your Arsenal of Characters:</h1>

<p>
<% @characters.each do |character| %>
    <li>
    <a href="/characters/<%= character.id %>"><%=character.character_name%></a>
    </li>
    <br>
<%end%>
</p>

<h5><a href="/characters/new">Create a new character!</a></h5>
<br><br>
<p> Beware the smiling dm.... </p>

<footer class="branding">
    <% if player_logged_in?%>
      <h4>Welcome <%= current_player.username%></h4>
      <h4><a href="/logout">Log Out</a></h4>
    <% else %>
      <h4><a href="/">Log In</a></h4>
    <% end %>
    <small>&copy; 2020 <strong>Sophia White</strong></small>
      </footer>

</html>