<h1>Ah! A new addition to the collection I see! </h1>
<p> hopefully no one died to make this happen...</p>
<form action="/characters" method="POST">
<h2>Enter the information of thy desired character:</h2></br>

<label for= “character_name”>Character Name:</label>
<p><input type="text" name="character_name" id="character_name"></p></br>

<label for= “class”>Class:</label>
<p><input type="text" name="class" id="class"></p></br>

<label for= “level”>Level:</label>
<p><input type="text" name="level" id="level"></p></br>

<label for= “race”>Race:</label>
<p><input type="text" name="race" id="race"></p></br>

<label for= “background”>Background:</label>
<p><input type="text" name="background" id="background"></p></br>

<label for= “strength”>Strength Stat:</label>
<p><input type="text" name="strength" id="strength"></p></br>

<label for= "dexterity">Dexterity Stat:</label>
<p><input type="text" name="dexterity" id="dexterity"></p></br>

<label for= “constitution”>Constitution Stat:</label>
<p><input type="text" name="constitution" id="constitution"></p></br>

<label for= "intelligence">Intelligence Stat:</label>
<p><input type="text" name="intelligence" id="intelligence"></p></br>

<label for= “wisdom”>Wisdom Stat:</label>
<p><input type="text" name="wisdom" id="wisdom"></p></br>

<label for= “charisma”>Charisma Stat:</label>
<p><input type="text" name="charisma" id="charisma"></p></br>

<label for= “character_story”>Character Story:</label>
<p>
<textarea type="text" name="character_story" id="character_story" rows="10" cols="50">Enter your text here!</textarea>
</p></br>
<input type='submit' id='submit' value='Create Character!'
</form>