<html>
<head>
<style>
img {
  float: left;
}
</style>
</head>
<header>
<div class="imgcontainer">
    <img src="/images/dice.png" alt="dice" class="logo" style="width:50px;height:50px;margin-right:15px;">
</div>
<h1>Login to your Player D&D Account!</h1>
</header>
</br>
<form action="/players/login" method="post">
  
    <label for="username">Username:</label>
    <input type="text" placeholder="Enter Username" name="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" placeholder="Enter Password" name="password" required>
    <br><br>
    <input type="submit" value = "Login">
    <br>
</form>
<br>
<h5>Not a registered player yet?</h5>
<h6><a href="/players/signup">Click here to sign up!</a></h6>

</html>
