<!DOCTYPE html>
<html lang="en">

<h1> Dungeons & Dragons Database </h1></br>
<h4>Enter the following to create your Player account!</h4></br>
<form action="/players" method="POST">
<label for: "name">Name:</label>
<p><input type="text" name="name" id="name"></p>

<label for: "username">Username:</label>
<p><input type="text" name="username" id="username"></p>

<label for: "password_digest">Password:</label>
<p><input type="password" name="password_digest" id="password_digest"></p>

<input type="submit" value = "Signup!">
</form>

</html>