<!DOCTYPE html>
<html>
<div class="container">
  <header><img src="images/dnd.png" alt="Dungeons & Dragons" class="main-image" width="500" height="200"></header>
  <div class="col-md-8 col-md-offset-2">
  <h1>Dungeons & Dragons Database</h1>

    <div class="content">
      <p> Welcome to the Dungeons & Dragons Database</p>

      <h4>Choose.</h4>
      </br>
      <h5>Are you a <i>player</i> or a <i>dungeon master</i>?</h5>
      </br>

<body>

    <div>
       <button class="button"><a href="/dms/login">Player</button>
    </div>

    <div>
      <button class="button"><a href="/dms/login"> Dungeon Master</a></button>
    </div>

</body>      

</html>